<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.debug.as400.batchIDEALApplication">
<intAttribute key="Key" value="-1"/>
<booleanAttribute key="com.ibm.etools.systems.as400.debug.ui.checkBox.searchiProjectFirst." value="true"/>
<booleanAttribute key="com.ibm.etools.systems.as400.debug.ui.checkBox.stepInto." value="true"/>
<booleanAttribute key="com.ibm.etools.systems.as400.debug.ui.checkBox.updateProductionFiles." value="true"/>
<stringAttribute key="com.ibm.etools.systems.as400.debug.ui.connection.connectionName." value="PUB400"/>
<stringAttribute key="com.ibm.etools.systems.as400.debug.ui.connection.profileName." value="MONOBLOK"/>
<listAttribute key="com.ibm.etools.systems.as400.debug.ui.debugProgram.debuggees">
<listEntry value="*PGM *LIBL/TMKMAKE"/>
</listAttribute>
<stringAttribute key="com.ibm.etools.systems.as400.debug.ui.debugProgram.library." value="*LIBL"/>
<stringAttribute key="com.ibm.etools.systems.as400.debug.ui.debugProgram.name." value="TMKMAKE"/>
<booleanAttribute key="com.ibm.etools.systems.as400.debug.ui.debugProgram.terminate." value="true"/>
<stringAttribute key="com.ibm.etools.systems.as400.debug.ui.debugProgram.type." value="*PGM"/>
<stringAttribute key="com.ibm.etools.systems.as400.debug.ui.error.advancedTab" value=""/>
<stringAttribute key="com.ibm.etools.systems.as400.debug.ui.error.debuggeInfoTab" value=""/>
<stringAttribute key="com.ibm.etools.systems.as400.debug.ui.error.launchInfoTab" value=""/>
<stringAttribute key="com.ibm.etools.systems.as400.debug.ui.launchCommand.LaunchCommandName" value="SBMJOB CMD(TMKMAKE SRCFILE(TEST) SRCMBR(MAKEFILE) OPTION(*EVENTF)) JOBQ(QGPL/D7D1CD) INLLIBL(*CURRENT) MSGQ(*NONE)"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
</launchConfiguration>